
@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	padding: 0;
	margin: 0;
}
body {
	background: #473F69;
	font-family: 'Roboto', sans-serif;
}

#loginBox {
	width: 400px;
	height: 300px;
	background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	padding: 35px;
	text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;	
	height: 100px;
	width: 100px; 	
}
#loginContainer{
	width:200px;
}
.loginInput {
	background-color: #f2f2f2;
	color: #000;
	width:200px;
	margin-top: 10px;
	border: 1px solid #000;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px;
}

.searchInput {
	background-color: #f2f2f2;
	color: #000;
	width:200px;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin-left: 10px;
	box-sizing: border-box;
}

#addRoomBtn{
	vertical-align:middle;
}

.loginText {
	color: #a5a5a5;
	font-size: 10px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

ul{
	margin: 10px;
	color: white;
}

li{
	padding: 10px;
	border: 1px solid white;
}

.roomDate{
	font-size: 12px;
}

.roomName{
	font-size: 14px;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;	
}

#sideBar {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

#topBar {
	width: 100%;
	height: 80px;
  overflow: hidden;
  background-color: #333;
}

#mainContent {
	float: right;
	border-style: solid;
	width: calc(100% - 265px);
	height: calc(100% - 85px);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

#addRoomBtn {
	display: inline-block;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}